
.english-word-container {
    height: 6rem;
    width: 20rem;
}

.show-word-container {
    height: 6rem;          
}

.check-container {
    height: 4rem;
}

.bi-hand-thumbs-up {
    color: green !important;
}

.bi-hand-thumbs-down {
    color: red !important;
}

.new-word-button {
    width: 100%;
}